.colors{
    color:black;
    background-color:red;
}
#header{
    color:Blue;
}
.margin{
    margin-top: 1rem;
}



.fancy{
    font-family: 'Courier New', Courier, monospace;
}

.box{
    border: 1px solid black;
    margin-right: 90rem;
    margin-bottom: 1rem;
}
#jimi{
    width: 250px;
    height: 250px;

}
a{
    text-decoration: none;
}
a:hover{

text-decoration: underline;
}